@font-face {
  font-family: 'Roboto';
  src: url("./fonts/Roboto/Roboto-Regular.ttf");
}

* {
  font-family: 'Roboto';
}

:root {
  --bg: #152342;
  --bg-darker: #5E5F56;
  --primary: #E2EF70;
  --secondary: #C1EEFF;
  --secondary-darker: #2B6CB0;
  --text: #a2abb7;
  --dark: #342E37;
}

::-webkit-scrollbar {
  color: var(--bg-darker, #5E5F56);
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: var(--bg);
}

.container {
  display: flex;
  flex-direction: row;
}

.sidebar {
  min-height: 97vh;
  overflow-y: scroll;
  background-color: var(--bg);
  padding: 20px;

}

.sidebar h2 {
  margin-top: 0;
  color: var(--text);
}

.sidebar h3 {
  color: var(--text);
}

.sidebar .filter {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.filter label {
  color: var(--text);
}

.main-content {
  flex-grow: 1;
  padding: 20px;
}

.main-content h2 {
  margin-top: 0;
}

#container {
  border: 1px solid #ccc;
  padding: 10px;
}

.filter-item {
  display: inline-block;
  border: 2px solid #4CAF50;
  border-radius: 12px;
  padding: 5px 10px;
  margin: 5px;
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
}

.filter-item span {
  margin-right: 10px;
}

.filter-item button {
  background-color: #e74c3c;
  color: white;
  border: none;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.filter-item button:hover {
  background-color: #c0392b;
}

.node .hovered {
  fill: var(--secondary-darker);
}

.node .unhovered {
  opacity: 0.3;
}

.node rect {
  fill: var(--bg-darker);
  transition: fill 0.25s linear
}

.node-link .unhovered {
  stroke-opacity: 0.3;
}

.node-link .hovered {
  stroke-opacity: 1;
  stroke-width: 5;
}

.node .node-text {
  font-weight: bold;
}